.slick__slide {
  padding: 0;
  display: none;
  height: 100%;
  &.slide--0 {
    display: block;
  }
}

.slick__arrow {
  display: none;
}

.slick-dots {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  text-align: center;

  @include mobile-only {
    margin-bottom: 20px;
  }
  li {
    display: inline-block;
    top: 10px;
    width: 10px;

    button {
      height: 20px;
      background: none;
      border: 3px solid $md-green;
      border-radius: 50%;
      text-indent: -9999px;
      line-height: 0;
      padding: 0px;
    }

    &.slick-active {
      button {
        background-color: $md-green;
      }
    }
  }
}

.se-carousel-item {
  overflow: hidden;
  position: relative;
  width: 100%;

  @include tablet-and-desktop {
    &:after {
      display: block;
      content: "";
      width: 100%;
      padding: 41.178% 0 0; /* Maintain Aspect Ratio */
    }
  }

  @include mobile-only {
    height: 950px;
  }

  @media (max-width: 600px) {
    height: 850px;
  }

  @media (max-width: 500px) {
    height: 750px;
  }

  .se-carousel-item-inner {
    @include tablet-and-desktop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .se-carousel-img {
      width: 100%;
      max-width: 100%;
      display: block;
      height: 100%;
      text-align: center;
      position: absolute;
      z-index: -3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 10px;

      @include tablet-and-desktop {
        height: auto;
        min-height: 100%;
        position: relative;
      }

      img {
        margin: 0 auto;
        display: none;
        width: 100%;
        @include tablet-and-desktop {
          display: block;
          width: 100%;
        }
        @include mobile-only {
          position: absolute;
          min-height: 100%;
          height: auto;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        &.mobile {
          display: none;
          @include mobile-only {
            display: block;
          }
        }
      }
    }
    .se-carousel-product {
      margin-top: 60px;
      width: 100%;
    }
    .se-carousel-content {
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 16px;
      display: block;
      text-align: center;
      padding: 15px 15px 50px;
      position: relative;

      @include tablet-and-desktop {
        position: absolute;
        top: 50%;
        max-width: 50%;
        height: auto;
        transform: translateY(-50%);
        text-align: left;
        padding: 30px;
        max-height: 100%;

        &.se-carousel-right {
          right: 0;
          text-align: right;
        }
        &.se-carousel-center {
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }
      @media only screen and (min-width: 1300px) {
        padding: 30px 60px;
      }

      &.se-carousel-bubble {
        &:after {
          content: "";
          position: absolute;
          top: -40%;
          left: -50%;
          width: 155%;
          height: 155%;
          transform: rotate(3deg);
          border-radius: 50% 50% 50% 55%;
          z-index: -2;

          background: -moz-linear-gradient(
            top,
            rgba(255, 255, 255, 0.72) 28%,
            rgba(255, 255, 255, 0.62) 34%,
            rgba(255, 255, 255, 0) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 0.72) 28%,
            rgba(255, 255, 255, 0.62) 34%,
            rgba(255, 255, 255, 0) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.72) 28%,
            rgba(255, 255, 255, 0.62) 34%,
            rgba(255, 255, 255, 0) 100%
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
        }
      }

      .se-carousel-text {
        width: 100%;

        h3 {
          $h1-sizes-7now: (
            null: 44px,
            560px: 48px,
            768px: 44px,
            1024px: 48px
          );
          @include font-size($h1-sizes-7now);
          text-transform: uppercase;
          color: $new-gray;
          margin: 0 0 10px;
          letter-spacing: 0.5px;

          @include tablet-and-desktop {
            text-align: left;
            span {
              display: block;
            }
          }
        }

        p {
          line-height: 1.25em;
          color: $dk-gray;
          margin: 0 0 10px;
          font-size: 14px;
          @include tablet-and-desktop {
            text-align: left;
          }

          &.se-carousel-legal {
            font-style: italic;
            font-size: 11px;
            margin-top: 10px;
            @include tablet-and-desktop {
              max-width: 90%;
            }
          }
        }

        div.se-carousel-legal {
          font-style: italic;
          font-size: 11px;
          margin-top: 10px;
          @include tablet-and-desktop {
            max-width: 90%;
          }
        }

        sup {
          font-family: "HelveticaNeueLTStd-Med", Helvetica, Arial, sans-serif;
        }
      }
    }
  }
}
.slick--view--home-marketing-slides {
  @include tablet-and-desktop {
    margin-bottom: 40px;
  }
}

// New Marketing Carousel Slide node pages
body.page-node-type-home-marketing-slide {
  #main {
    margin-top: 100px;
    padding: 15px;
    @include tablet-and-desktop {
      padding: 30px;
    }
    .se-carousel-item {
      max-width: 1400px;
      margin: 0 auto;
      height: 900px;
      @include tablet-and-desktop {
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
      }
    }
  }
}
