@import "mixins.scss";
@import "placeholders.scss";
@import "typography.scss";
@import "colors.scss";

.se-form {
  /*
   * Module
   */
  .se-form-module {
    background: $white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 0 0;
    padding: 40px 15px;
    text-align: left;

    @include tablet-and-desktop {
      padding: 50px;
    }
  }

  /*
   * Grid
   */
  .se-form-container {
    &:after {
      content: "";
      display: block;
      clear: left;
    }

    .se-form-row {
      clear: left;
      text-align: left;

      .se-form-col {
        padding: 0 20px 0 20px;

        &.se-form-col-half {
          @include tablet-and-desktop {
            float: left;
            width: 50%;
          }
        }
      }
    }
  }

  /*
   * Label
   */
  .se-fe-label {
    position: relative;
    min-height: 20px;
    margin-bottom: 3px;

    &.visiblity-hidden {
      visibility: hidden;
    }

    label {
      text-align: left;
      font: 16px/20px $heebo;
      color: $md-gray;
      margin: 0;

      @include tablet-and-desktop {
        font: 14px/18px $heebo;
      }
    }

    &.white {
      label {
        color: $white;
      }
    }
  }

  /*
   * Input Field
   */
  .se-fe-input {
    position: relative;
    min-height: 25px;
    padding-bottom: 7px;
    border-bottom: solid 1px #565656;

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    input[type="password"] {
      display: block;
      width: 100%;
      height: 21px;
      margin: 0;
      padding: 0;
      background: none;
      font: 14px/18px $heebo-regular;
      color: $black;
      border: 1px solid transparent;
      -webkit-appearance: none;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    select.se-form-placeholder {
      color: $md-gray;
      font: 14px/18px $heebo-regular;
    }

    p {
      margin: 0;
      font: 14px/18px $heebo-regular;
    }

    &.se-fe-password {
      padding-right: 25px;
    }

    .se-btn-password-visiblity-toggle {
      display: block;
      text-indent: -9999px;
      position: absolute;
      top: 6px;
      right: 0;
      background: none;
      margin: 0;
      padding: 0;
      @include retina-sprite($ico-show-password-group);
      overflow: hidden;

      &:hover,
      &:focus {
        @include retina-sprite($ico-show-password-hover-group);
      }
    }
  }

  &:not(.show-clear-button) {
    .se-btn-input-clear,
    .se-btn-select-clear {
      display: none;
    }
  }

  /*
   * Date Field
   */
  .se-fe-date {
    .se-fe-input {
      border-bottom: none;
      padding-bottom: 0;
      overflow: hidden;

      .se-fe-month,
      .se-fe-day,
      .se-fe-year {
        float: left;

        select {
          min-height: 28px;
          border-bottom: solid 1px #565656;
          cursor: pointer;
        }
      }

      .se-fe-month {
        width: 35%;
      }

      .se-fe-day {
        width: 26%;
        margin: 0 5% 0 5%;
      }

      .se-fe-year {
        width: 29%;
      }
    }
  }

  /*
   * Checkbox Field
   */
  .se-form-checkbox {
    position: relative;
    margin: 15px 0;

    label {
      position: relative;
      p {
        padding: 0 0 0 35px;
        margin: 0;
      }
    }

    span {
      display: block;
      font: 16px/20px $heebo;
      color: $dk-gray;
      cursor: pointer;
      position: absolute;
      top: 0px;
      left: 0;
      @include retina-sprite($checkbox-group);

      @include tablet-and-desktop {
        font: 14px/18px $heebo;
      }

      &:hover,
      &:focus {
        @include retina-sprite($checkbox-hover-group);
      }

      a {
        text-decoration: underline;
      }
    }

    input[type="checkbox"] {
      &:focus {
        + span {
          outline: 5px auto -webkit-focus-ring-color !important;
        }
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      z-index: 10;
      &.focus-visible:focus + span:before {
        outline: 5px auto -webkit-focus-ring-color !important;
      }
    }

    input[type="checkbox"]:checked + span {
      @include retina-sprite($checkbox-checked-group);

      &:hover,
      &:focus {
        @include retina-sprite($checkbox-checked-hover-group);
      }
    }

    input[type="checkbox"]:focus:not(:checked) + span {
      @include retina-sprite($checkbox-hover-group);
    }
  }

  /*
   * Error Messages
   */
  .se-fe-message {
    position: relative;
    min-height: 18px;
    margin: 7px 0 0;
    clear: left;

    .error {
      color: $red;
      font: 12px/16px $heebo;
      margin: 0;
    }
  }

  .se-form-errors {
    text-align: left;
    .error {
      color: $red;
      font: 12px/16px $heebo;
      margin: 0 20px 20px 20px;
    }
  }

  &.show-errors {
    .se-fe-error {
      .se-form-checkbox {
        p,
        p a {
          color: $red;
        }
      }
    }
  }

  &:not(.show-errors) {
    .se-fe-message .error,
    .se-form-message .error {
      display: none;
    }
  }

  @include mobile-only {
    input,
    select {
      font-size: 100%; //iphone zoom fix
    }
  }
}
