// named based on http://chir.ag/projects/name-that-color/ if not available in Zeplin

$white: #fff;

$ltr-gray: #f2f2f2;
$lt-gray: #b3b3b3;
$lt-md-gray: #989898;
$md-gray: #757575;
$dk-gray: #565656;
$inactive-gray: #ccc;

$red: #e41919;
$cranberry: #da568e;
$black: #000;
$orange: #f37721;
$orange-hover: lighten(#f37721, 10%);

$lt-green: #80aca0;
$green: #4db856;
$md-green: #008062;
$dk-green: #09533b;
$form-green: #457e62;
$footer-green: #008060;
$hover-green: #83cd89;
$ed-green: #cae3de;
$green-hover: #438f72;

$blue: #007cba;
$facebook-blue: #3a5998;
$lt-blue: #00a3e0;

$purple: #311847;
$purple-hover: lighten(#311847, 10%);
$lt-purple: #9f00ff;
$dk-purple: #482159;
$se-now-green: #147350;

$new-green: #2ca371;
$new-gray: #4a4a4a;
$new-rose: #ea6835;

$c-h-green: #34c28c;
$c-h-green-hover: #1f9d6d;

$logo-orange: #f4811f;
$logo-red: #ed2525;

// Redesign Colors
$se-green: #14734f;
$bright-red: #ec0f2a;
$dark-red: #c10000;
$bright-orange: #ff6c00;
$blaze-orange: #f56600;
$rd-ltr-gray: #cacaca;
$se-kournikova: #ffdc70;
$se-athens-gray: #f6f7f9;
$venus: #949394;
$sherwood-green: #035034;
$deep-sea-green: #0a5f40;
$alto-gray: #d8d8d8;
$mine-shaft: #333333;
$rajah: #fbb672;
$salmon: #fb7e6e;
$lochmara: #0082c3;
$alabaster: #fafafa;
$mercury: #e6e6e6;
$scampi: #5d55a8;
$dove-gray: #666666;
$bright-green: #5fd400;
$golden-grass: #dd9d22;
$fire-bush: #e08833;
$electric-lime: #c6ff00;
