$roboto: "Roboto", Helvetica, Arial, sans-serif;
$right-grotesk-bold: "RightGrotesk-Bold", Helvetica, Arial, sans-serif;
$right-grotesk-dark: "RightGrotesk-CompactDark", Helvetica, Arial, sans-serif;

// DON'T USE THE BELOW FONTS: these will be gradually removed from site

$helvetica-neue: "HelveticaNeueLTStd-Roman", Helvetica, Arial, sans-serif; // Used in My7Rewards/Barcode

$trasandina: "TrasandinaRegular", Helvetica, Arial, sans-serif; // Used in My7Rewards components
$trasandina-ultra: "TrasandinaUltra", Helvetica, Arial, sans-serif; // Used in My7Rewards, My7Rewards/DealsTab/Category, My7Rewards/DealsTab/NoLocation
$trasandina-bold: "TrasandinaBold", Helvetica, Arial, sans-serif; // Used in My7Rewards components

$heebo: "Heebo-Regular", Helvetica, Arial, sans-serif; // Used in My7Rewards components
$heebo-regular: "Heebo-Regular", Helvetica, Arial, sans-serif; // Used in My7Rewards/MyStatus/PunchCards
$heebo-medium: "Heebo-Medium", Helvetica, Arial, sans-serif; // Used in My7Rewards components

$proximanova-semibold: "ProximaNova-Semibold", Helvetica, Arial, sans-serif; // used for sup-text <sup>

$labgrotesque-black: "LabGrotesque-Black", Helvetica, Arial, sans-serif; // Legacy heading level - @mixin heading-font - Blog (Needs Approval), ResetPasswordModal
